Libraries/
bin/
obj/
.vs/
*.user
*.suo
_dump_*.exe
_dump_*.cs
_api_dump.txt
_api_dump_1_0.txt
_il_dump.txt
_gui_dump.txt
_dump_api.cs
_dump_api.exe
*.zip
BuildingHealthDisplay/bin/**
BuildingHealthDisplay/obj/**
dist/
